ul{
	margin: 0;
	padding: 0;
}
.nav{
	text-align: center;
	width: 100vw;
	border: 0;
	margin: 0;

}
.navItem{
	box-sizing: border-box;
	width: 10vw;
	height: 10vh;
	/*background-color: blue;*/
	float: left;
	display: block;
	border: solid;
	border-color: black;
	border-width: 2px;
	border-bottom: 3px;
	text-align: center;
	font-family: 'Sawarabi Mincho', sans-serif;


}
#start{
	color: orange;
}
#end{
	color: orange;
}
img{
	/*background-color: blue;*/
	float: right;
}
.page1Text{
	float: left;
	width: 40vw;
	font-family: 'Sawarabi Mincho', sans-serif;
	color: orange;
}
.page1Image{
	float: left;
	width: 50vw;
}

.main{
	/*text-align: center;*/
	width: 100vw;
	float:left;
	/*background-color: red;*/
	border-top: solid;
	background-color: #fefffb;
}
body{
	padding: 0;
	margin: 0;
	background-color: #fefffb;
}